@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}

/* Header styles */

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #7acacc;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #3a3a3a;
    font-weight: 300;
    text-decoration: none;
}


/* Additional styles for logo and menu arrangement */
#logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 17px;
    text-decoration: none;
}

#menu {
    font-size: 80%;
    letter-spacing: 4px;
    list-style-type: none;
    display: flex;
    /* Adjust margin as needed */
    margin-top: 10px;
    margin-bottom: 10px;
    /* Center the menu items horizontally */
    justify-content: center;
   

}

#menu>li {
    margin-right: 1em;
    
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu a {
    /* Remove underline */
    text-decoration: none;
    color: #3a3a3a;
   
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px; /* Adjust as needed */
    cursor: pointer;
    color: #7acacc;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #7acacc;
    display: none;
    top: 100%;
}

/* Add space above sections to account for fixed header */
#treatment-section {
    scroll-margin-top: 150px; /* Adjust the value based on your fixed header's height */
}



/* Main content */


main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 130px;
    padding: 0px;
    
}

/* Hands section */
#hands {
    height: 400px;
    width: 100%;
    background: url("../images/tR0QV5PPeTsls7wgOCYs.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hands-title {
    font-size: 60px;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 8px;
    word-spacing: 10px;

}

hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #7acacc; /* You can adjust the color as needed */
}
/* Intro section */
#intro {
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    font-size: 150%;
    padding: 40px;
}

/* Treatment section */

#treatment-section {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#treatment-section  h3 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 120%;
    padding: 20px;
}

#treatment {
    flex: 1;
    max-width: 60%; /* Set a maximum width for #treatment */
}

#treatment>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#treatment p {
    padding: 0 20px;
}


#treatment-image {
    background: url('../images/7SyUW4lgveCUBeaRgsfG.jpg') no-repeat top center / cover;
    height: 300vw;
    width: 300vw;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 400px;
    max-height: 400px;
 }

/* Practice section */

#practice-section {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

#practice-section h3 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 120%;
    padding: 20px;
}

#practice-image {
    flex: 1;
    order: 1; /* Set the order to 1 to place it on the left */
    background: url('../images/zWVbzGYE5WvU86tqeGEE.jpg') no-repeat;
    background-size: contain;
    margin-bottom: 20px;
    margin-top: 40px;
    height: 300px; /* Adjust the height as needed */
    max-width: 100%; /* Make sure it doesn't exceed its container */
    margin-bottom: 20px;
}

#practice {
    flex: 2;
    order: 2; /* Set the order to 2 to place it on the right */
    max-width: 60%;
}

#practice>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#practice p {
    padding: 0 20px;
}


/* Footer */

footer {
    background-color: #bac4cd;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* Responsive font size for smaller screens */
@media only screen and (max-width: 768px) {
    #hands-title {
        font-size: 20px;
    }

    /* Reduce and align #menu vertically for screens with a maximum width of 768px */
    #menu {
        flex-direction: column;
        text-align: center;
    }

    #menu>li {
        margin-right: 0;
        margin-bottom: 0.5em;
    }

    #nav-toggle {
        display: none;
    }

    nav {
        display: none;
    }

    #menu {
        display: flex;
    }
}

/* Therapist page */
#therapist-section {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#therapist-section  h3 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 120%;
    padding: 20px;
}

#therapist {
    flex: 1;
    max-width: 60%; /* Set a maximum width for #treatment */
}

#therapist>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#therapist p {
    padding: 0 20px;
}


#therapist-image {
    background: url('../images/q6pRDcnvHkrkY7pVSr1y.jpg') no-repeat top center;
    background-size: contain;
    height: 300vw;
    width: 300vw;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 400px;
    max-height: 400px;
 }

 




/* Hide nav toggle and dropdown for devices larger than 768px */
@media only screen and (min-width: 769px) {
    #nav-toggle,
    .nav-toggle-label {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center; /* Center the nav menu */
    }

    #menu {
        flex-direction: row; /* Ensure menu items are in a row for larger devices */
    }

    #menu>li {
        margin-bottom: 0; /* Remove the bottom margin for menu items */
    }
}