@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}

/* Header styles */

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #7acacc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #3a3a3a;
    font-weight: 300;
    text-decoration: none;
}


/* Additional styles for logo and menu arrangement */
#logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 17px;
    text-decoration: none;
}

#menu {
    font-size: 80%;
    letter-spacing: 4px;
    list-style-type: none;
    display: flex;
    /*margin-top: 10px;
    margin-bottom: 30px;*/
    /* Center the menu items horizontally */
    justify-content: center;
}

/* Creates space between the menu items*/
#menu li {
    margin-right: 3em;
}


.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu a {
    /* Remove underline */
    text-decoration: none;
    color: #3a3a3a;

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    color: #7acacc;
}

/* Navbar styles with dropdown toggle */
nav {
    /*position: absolute;*/
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    /*box-shadow: 0 2px 2px #7acacc;*/
    display: none;
    top: 100%;
}




/* Main content */

/* Add space above sections to account for fixed header */
#treatment-section {
    scroll-margin-top: 300px;
}


main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 130px;
    padding: 0px;

}

/* Hands section */
#hands {
    height: 500px;
    width: 100%;
    background: url("../images/hands.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hands-title {
    font-size: 60px;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 5px;
    word-spacing: 5px;

}

hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #7acacc;
}

/* Intro section */
#intro {
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    font-size: 130%;
    padding: 40px;
    max-width: 90%;
}

/* Treatment section */

/* Add space above sections to account for fixed header */
#treatment-section {
    scroll-margin-top: 300px;
}

#treatment-section {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#treatment-section h3 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 120%;
    padding: 20px;
}

#treatment {
    flex: 1;
    max-width: 60%;
}

#treatment>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#treatment p {
    padding: 0 20px;
}


#treatment-image {
    background: url('../images/treatment.jpg') no-repeat top center / cover;
    height: 300vw;
    width: 300vw;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 400px;
    max-height: 400px;
}

/* Practice section */

/* Add space above sections to account for fixed header */
#practice-section {
    scroll-margin-top: 300px;
}

#practice-section {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#practice-section h3 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 120%;
    padding: 20px;
}


#practice-image {
    
    /* Set the order to 1 to place it on the left */
    order: 1;
    background: url('../images/practice.jpg') no-repeat;
    background-size: contain;
    margin-top: 50px;
    height: 80vw;
    width: 80vw;
    max-width: 400px;
    max-height: 400px;

}


#practice {
    flex: 1;
    /* Set the order to 2 to place it on the right */
    order: 2;
    max-width: 80%;
}

#practice>div {
    line-height: 20px;
}

#practice p {
    padding: 0 20px;
}

/* Prices section */
#prices {
    scroll-margin-top: 300px;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    font-size: 100%;
    padding: 40px;
    max-width: 90%;
}


/* Footer */

footer {
    background-color: #bac4cd;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}


/* Therapist page */
#therapist-section {
    scroll-margin-top: 250px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#therapist-section h3 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 120%;
    padding: 20px;
}

#therapist {
    flex: 1;
    max-width: 60%;
}

#therapist>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#therapist p {
    padding: 0 20px;
}


#therapist-image {
    background: url('../images/therapist.jpg') no-repeat top center;
    background-size: contain;
    height: 300vw;
    width: 300vw;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 300px;
    max-height: 400px;
}


/* Appointment Page*/


#contact {
    background-position: 75%;
    padding: 10px 10% 0;
    margin-bottom: 30px;
    margin-left: 28px;
}

/* Removes bullet points*/
#contact ul {
    list-style: none;
}

#contact h2 {
    margin-bottom: 15px;
}

/* Margin between list items */
#contact ul li {
    margin-bottom: 10px;
}


/* Form */

#appointment {
    scroll-margin-top: 250px;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#appointment-form {
    color: #3a3a3a;
    padding: 30px;
}

#appointment-form>h2 {
    color: #3a3a3a;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #3a3a3a;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #7acacc;
    border-radius: 2px;
    padding: 0 5px;
}

#message {

    height: 100px;

}


.appointment-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #7acacc;
    color: #fafafa;
}


/* Media query for mobile screens */
@media only screen and (max-width: 768px) {

    #treatment-section,
    #practice-section,
    #therapist-section {
        flex-direction: column;
        align-items: center;
    }

    #treatment,
    #practice,
    #therapist {
        max-width: 100%;
    }

    #treatment-image {
        max-width: 100%;
    }

    #practice-image {
        display: block;
        order: 2;
    }


}



/* Responsive font size for smaller screens */
@media only screen and (max-width: 768px) {
    #hands-title {
        font-size: 40px;
    }

/* Reduce and align #menu vertically for screens with a maximum width of 768px */
    #menu {
        flex-direction: column;
        text-align: center;
    }

    #menu>li {
        margin-right: 0;
        margin-bottom: 0.5em;
    }

    #nav-toggle {
        display: none;
    }

    nav {
        display: none;
        position: absolute;
    }

    #menu {
        display: flex;
    }
}



/* Hide nav toggle and dropdown for devices larger than 768px */
@media only screen and (min-width: 769px) {

    #nav-toggle,
    .nav-toggle-label {
        display: none;
    }

/* Center the nav menu */
    nav {
        display: flex;
        justify-content: center;
    }

/* Ensure menu items are in a row for larger devices */
    #menu {
        flex-direction: row;
        /* Ensure menu items are in a row for larger devices */
    }

/* Remove the bottom margin for menu items */
    #menu>li {
        margin-bottom: 0;
    }
}